<div>
  <link href="./feature-card.css" rel="stylesheet" />
  <div class="feature-card-container">
    <img
      alt="/playground_assets/01.svg"
      src="../public/playground_assets/01.svg"
      loading="eager"
      class="feature-card-image"
    />
    <h5 class="feature-card-text headline5"><span>Title</span></h5>
    <span class="feature-card-text1">
      <span>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed erat nibh
        tristique ipsum.
      </span>
    </span>
  </div>
</div>
